/* ========================= */
/*       GENERALITES         */
/* ========================= */
/* #region Généralités */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* pour que la largeur et la hauteur incluent le padding et la bordure */
}
:root {
    --globalchrome-font-family: 'Matterhorn', Helvetica, Arial, sans-serif;
    --globalchrome-font-weight: normal;
    --globalfooter-font-style: normal;
        --OngletsHeader-font-family: 'Matterhorn', Helvetica, Arial, sans-serif;
        --OngletsHeader-font-weight: 700;
        --OngletsHeader-font-size: 14px;
        --OngletsHeader-line-height: 1.2;
        --OngletsHeader-text-transform: uppercase;
        --OngletsHeader-letter-spacing: -0.02em;
            --utility-font-family: InspireTWDC, Helvetica, sans-serif;
            --utility-font-weight: normal;
            --utility-font-style: normal;
        --header-font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
        --header-font-weight: 400;
        --header-font-style: normal;
    --body-font-family: 'InspireTWDC', AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    --body-font-weight: 400;
    --body-font-style: normal;
        --globalfooter-font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
        --globalfooter-font-weight: 400;
        --globalfooter-font-style: normal;
            --bigger-max-width: 1600px;
            --lessBigger-max-width: 1392px;
        --effetZoom-transform: scale(1.05);
        --effetZoom-transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}
a {
  text-decoration: none; /* pas de soulignement */
  color: #0c0c0c; /* couleur du texte */
}
main {
    max-width: var(--bigger-max-width); /* largeur de la section */
    margin-left: auto; /* marge gauche de la section */
    margin-right: auto; /* marge droite de la section */
    background-color: #e4f0f4; /* couleur de fond */
    position: relative; /* positionnement relatif */
}
.effetZoom {
  overflow: hidden;
  width: 100%;
}
.effetZoom img:hover {
  transform: var(--effetZoom-transform); /* effet de zoom */
  transition: var(--effetZoom-transition); /* transition de l'effet de zoom */
}
.contenuVertical {
  display: flex; /* affichage flexible */
  flex-direction: column; /* direction de la flexbox */
  align-items: center;
  justify-content: center;
}
.contenuHorizontal {
    display: flex;
    justify-content: space-around;
}
.lateralBiggerScreenSize {
    max-width: var(--bigger-max-width); /* largeur maximale */
    margin: 0 auto;
}
.buttonType1 {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 16px;
  border-radius: 24px;
  height: 48px;
  min-width: 240px;
  font-size: 1rem;
  padding: 16px 62px;
  box-sizing: border-box;
  font-style: var(--body-font-style);
  font-family: var(--body-font-family);
  background-color: transparent;
  border: 1px solid #1d1e1f;
  text-align: center;
}
.buttonType1:hover {
    background-color: rgba(156, 156, 156, 0.178) ;
}
.buttonType2 {
  position: relative;
  margin-top: 10px;
  top: 1px;
  z-index: 2;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--OngletsHeader-font-family);
  background-color: #5A6996;
  border-color: #5A6996;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 1rem;
  padding: 16px 32px;
  border-radius: 24px;
  height: 48px;
  min-width: 240px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.buttonType2:hover {
    background-color: #3f4964;
}
.buttonType3 {
  margin-top: 10%;
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--OngletsHeader-font-family);
  background-color: #ffffff;
  border: 0px solid #ffffff;
  font-size: 1rem;
  padding: 16px 32px;
  border-radius: 24px;
  height: 48px;
  min-width: 240px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10%;
  text-align: center;
  cursor: pointer;
}
.buttonType3:hover {
    background-color: #d8d9da;
}
/* #endregion */


/* ========================= */
/*      REGION HEADER        */
/* ========================= */
/* #region Header */
header {
    height: 63px;
}
header div nav {
  max-width: 1600px;
  margin: 0 auto;
}
header div nav ul{
  margin-left: 3%;
}
ul li {
  /* réglage police de caractères */
  font-family: var(--OngletsHeader-font-family); 
  font-size: var(--OngletsHeader-font-size);
  line-height: var(--OngletsHeader-line-height);
  text-transform: var(--OngletsHeader-text-transform);
  font-weight: var(--OngletsHeader-font-weight);
  letter-spacing: var(--OngletsHeader-letter-spacing);
  list-style: none; /* pas de puces */
        /* réglage positionnement */;
        height: 63px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        align-content: center;
}
#logoBarNav {
  margin-right: 8px;
}
ul li a {
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
}
ul li a:hover {
  color: #0063e5;
}
ul li a img {
  /* réglage de dimensions */
  margin-top: 1px;
  width: 95px;
  height: 40px;
  
}
u {
    padding-bottom: 0;
    text-decoration: none; /* pas de soulignement */
}
#menuToggle {
    display: none;
    position: absolute;
    top: 25px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none; 
}
#menuToggle span {
    display: block;
    width: 26px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
    background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 80%;
}
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg)     
      scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}
#menu {
    position: absolute;
    width: 90vw;
    height: 110vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: rgba(236, 240, 241, 0.97);;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;
}
#menu li {
    padding: 15px 0;
    color: #000000;
    list-style-type: none;
    font-size: 2em;
    font-weight: 300;
}
#menu li a {
      color: #000000;
      text-decoration: none;
      text-transformation: uppercase
}
#menu li a:hover {
    color: #d41010;
    text-decoration: none;
}
#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}
#logoBarNav2 {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoBarNav2 img {
  display: block;
  width: 50%;
  margin: 0 auto;
  display: none;
}
/* #endregion */


/* ========================= */
/*   REGION LILO ET STITCH   */
/* ========================= */
/* #region Lilo et Stitch */
#sectionLiloStitch {
  position: relative;
}
#fondLilo {
  position: relative;
   height: 100%;
   z-index: 0;
}
#fondLilo img {
  width: 100%;
}
#logoLilo img {
  /* réglage de dimensions */
  width: 60%  ; /* largeur de l'image */
  height: auto; /* hauteur automatique */
        /* réglage de positionnement */
        position: relative;
        z-index: 2;
        left: 19%;
        
}
.ContenerLiloStitch {
  position: absolute;
  
  z-index: 2;
  top: 0;
  left: 0;
  width: 44%;
  height: 100%;
  cursor: pointer;
}
.ContenerLiloStitch p {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-style: var(--body-font-style);
    font-size: 1em;
}
/* #endregion */


/* ========================= */
/*  REGION SECTION 2 LINKS   */
/* ========================= */
/* #region LINKS */

.linkBoxes {           
    display: flex;
    position: relative;
    margin-top: 30px;
    justify-content: space-between;
    width: 87%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap; /* permet aux boîtes de s'adapter à l'espace disponible */
}
.linkBoxes a {
  width: 23%;
  min-width: 270px;
}
.linkBoxes figure {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.linkBoxes figcaption {
  background: white; 
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
}
.boxContent {
  flex: 1 1 auto; /* permet à la boîte de s'étendre pour remplir l'espace disponible */
}
figure img {
  /* réglage de dimensions */
  width: 100%; /* largeur de l'image */
}
.boxTitle {
  padding-top: 10%;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  font-size: 1.25em;
  color: #222;
}
.boxPara {
  color: #222;
  font-size: 0.875em;
  padding-top: 5%;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  padding-bottom: 10px;
}
.boxStrong {
  padding-bottom: 10%;
  text-align: left;
  color: #222;
  font-size: 0.75em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: var(--body-font-family);
  font-style: var(--body-font-style);
}
/* #endregion */


/* ========================= */
/* REGION SECTION 3 DISNEY+  */
/* ========================= */
/* #region DISNEY + */
.subDisneyBandeau {
    margin-top: 2%;
    width: 100%;
    background-color: #054553; /* couleur de fond */
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
h1 {
  margin-top: 20%;
  margin-bottom: 20%;
    font-family: 'InspireTWDC'; /* police de caractères */
    color: #ffffff; /* couleur du texte */
    font-size: 30px; /* taille de la police */
    font-weight: 400;
}
.propositionsBoites  {
    display: flex;
    flex-wrap: nowrap; /* permet aux boîtes de s'adapter à l'espace disponible */
    align-items: flex-start;
    width: 87%; /* largeur de la section */
    gap: 9px;
}
.propositionsBoites p {
  padding-top: 2%;
    color: #ffffff;
    font-size: 20px;
}
h3 {
    font-size: 15px;
    color: #d4d3d3;
    font-weight: 300;
    padding-top: 2%;
  }
h4 {
    font-size: 13px;
    color: #d4d3d3;
    font-weight: 300;
    padding-bottom: 10%;
}
/* #endregion */


/* ========================= */
/* REGION SECTION 4 PARCS  */
/* ========================= */
/* #region PARCS */

.parcsDisney {           
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 3%;
    width: 87%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 0.2%; /* espace entre les boîtes */
    flex-wrap: wrap; /* permet aux boîtes de s'adapter à l'espace disponible */
}
span {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  font-size: 2em;
  color: #222;
  padding-bottom: 1.5%;
}
.parcsDisney a {
  width: 49%;
}
.parcsDisney div {
  display: flex;
  gap: 1.4%; /* espace entre les boîtes */
}
.parcsDisney figure {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.parcsDisney figcaption  {
  background: white; 
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  justify-content: flex-start;
}

.parcsDisney figcaption div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
/* #endregion */


/* ========================= */
/* REGION SECTION 5 SPECT    */
/* ========================= */
/* #region SPECTACLES  */

.spectaclesDisney {           
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
span {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  font-size: 2em;
  color: #222;
  padding-bottom: 1.5%;
}
.dim87 {
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.4%; /* espace entre les boîtes */
}
.dimen50, .dim23 > a {
  width: 49%;
  height: 100%;
}
.dim23 {
  display: flex;
  gap: 3%;
  height: 100%;
  width: 49%;
}
.spectaclesDisney figure img {
  display: flex;
  flex-direction: column;
}
.spectaclesDisney figure {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.spectaclesDisney figcaption  {
  background: white; 
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  height: 100%;
}
.spectaclesDisney figcaption div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* #endregion */


/* ========================= */
/* REGION SECTION 6 BOUTIK   */
/* ========================= */
/* #region BOUTIQUE  */
.boutiqueDisney {           
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5%;
    width: 87%;
    margin: 0 auto; /* centrer horizontalement */
}
#fondBoutique {
    position: relative;
    width: 100%;
    z-index: 0;
    height: 100%;
}
#fondBoutique img {
    width: 100%;
}
#logoBoutique img{
    width: 60%;
    position: relative;
    z-index: 2;
    filter: invert(1);
}
.contenerBoutique {
  margin-top: 4%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 44%;
    height: 100%;
    cursor: pointer;
    filter: invert(1);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contenerBoutique p {
    margin-top: 1%;
    margin-bottom: 3%;
}


/* #endregion */


/* ========================= */
/* REGION SECTION 7 FILMS   */
/* ========================= */
/* #region FILMS Caroussel */




/* #endregion */


/* ========================= */
/* REGION SECTION 8 NEWSL   */
/* ========================= */
/* #region NEWLETTERS  */

.NewsBaner {           
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5%;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
  padding-bottom: 5%;
}
.contenerNewsletter {
  margin-top: 3%;
  margin-left: 28% ;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 44%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
}
.contenerNewsletter p {
    margin-top: 1%;
    margin-bottom: 3%;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: 40px;
    color: #ffffff;
}



/* #endregion */


/* ========================= */
/*           FOOTER          */
/* ========================= */
/* #region  Footer  */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
}
.favIcon { 
  margin: 1% auto;
}
.favIcon > a > img{
  width: 50px;
}
footer > img {
  margin-bottom: 2%;
}
.footerLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}
.footerLinks > a {
  font-family: var(--globalfooter-font-family);
  font-weight: var(--globalfooter-font-weight);
  font-style: var(--globalfooter-font-style);
  font-size: 105%;
}

footer > h4 {
  margin-top: 1%;
  filter: invert(1);
  font-size: 105%;
}
/* #endregion */


/* ========================= */
/*        MEDIA QUERY        */
/* ========================= */
/* #region MEDIA QUERY */

@media screen and (max-width: 782px) {
   
    .ContenerLiloStitch, .contenerBoutique, .contenerNewsletter {
      position:static;
      align-items: center;
      width: 100%;
      margin-top: 3%;
    }
    .ContenerLiloStitch button {
      display: flex;
      flex-wrap: nowrap;
    }
    #menuToggle {
        display: block;
        z-index: 4;
    }
    #logoBarNav2 img {
        display: block;
    }
    #menu {
        display: flex;
        flex-direction: column;
    }
    #menu li {
        font-size: 1.5em;
    }
    header nav {
        display: none; /* hide the header on small screens */
    }
    .linkBoxes {
        width: 98%;
        gap: 1em; /* espace entre les boîtes */
    }
    .linkBoxes > div, .linkBoxes a {
        width: 100%;  
        margin-bottom: 1em; /* espace entre les boîtes */
    }
    .linkBoxes figure img {
        width: 100%;
        height: 400px;           /* ajuste cette valeur selon le rendu souhaité */
        object-fit: cover;       /* recadre l'image pour remplir le cadre */
        object-position: center;    /* garde le haut de l'image visible, rogne le bas */
        display: block;
    }
    .buttonType1, .buttonType2, .buttonType3 {
        font-size: 0.95rem;
    }
    #fondLilo {
        width: 100%;           /* Largeur à ajuster selon ton design */
        height: 100%;          /* Hauteur à ajuster selon ton design */
        overflow: hidden;       /* Masque ce qui dépasse */
        position: relative;    
    }
    #fondLilo img {
        width: 172%;           /* L'image est plus large que l'écran */
        height: 100%;           /* Prend toute la hauteur du conteneur */
        object-fit: cover;      /* Remplit le conteneur sans déformation */
        object-position: right;  /* Aligne l'image à gauche, rogne la droite */
        display: block; /* Affiche l'image */
        transform: scaleX(-1);
    }
    .propositionsBoites {
        display: flex;
        flex-wrap: wrap; /* Les boîtes passent à la ligne */
        width: 90%;
        gap: 1em; /* espace entre les boîtes */
    }
    .propositionsBoites figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .parcsDisney {
        width: 90%;
    }
    .parcsDisney > div {
        display: flex;
        flex-wrap: wrap; 
    }
    .parcsDisney > div, .parcsDisney a {
        width: 100%;  
    }
    .parcsDisney a {
        height: 50%;
    }
    .parcsDisney figure img {
        width: 100%;
        height: 400px;           /* ajuste cette valeur selon le rendu souhaité */
        object-fit: cover;       /* recadre l'image pour remplir le cadre */
        object-position: center;    /* garde le haut de l'image visible, rogne le bas */
        display: block;
    }
    .spectaclesDisney {
        margin-top: 10%;
        width: 90%;
    }
    .spectaclesDisney > .dim87 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1em; /* espace entre les boîtes */
    }
    .spectaclesDisney .dimen50, .spectaclesDisney .dim23 {
        width: 100%;
        display: flex;
        flex-wrap: wrap; /* Les boîtes passent à la ligne */
    }
    .spectaclesDisney > div {
      width: 100%;
        display: flex;
        flex-direction: column;
    }
    .spectaclesDisney > div, .spectaclesDisney a {
        width: 100%;  
    }
    .spectaclesDisney figure img {
        width: 100%;
        height: 450px;           /* ajuste cette valeur selon le rendu souhaité */
        object-fit: cover;       /* recadre l'image pour remplir le cadre */
        object-position: center;    /* garde le haut de l'image visible, rogne le bas */
        display: block;
    }
    span {
      margin-top: 10%;
        font-size: 90%;
        padding-bottom: 1%;
    }
    #fondBoutique {
      position: relative;
      width: 100%;
      z-index: 0;
      height: 100%;
    }
    #fondBoutique img {
        width: 100%;
        height: 345px;           /* ajuste cette valeur selon le rendu souhaité */
        object-fit: cover;
        object-position: right;    /* garde le haut de l'image visible, rogne le bas */
        display: block;
    }
    .boutiqueDisney figure {
        width: 90%;         
    }
    .NewsBaner {
        width: 90%;
    }
    .NewsBaner figure img {
        width: 100%;
        height: 450px;           /* ajuste cette valeur selon le rendu souhaité */
        object-fit: cover;       /* recadre l'image pour remplir le cadre */
        object-position: center;    /* garde le haut de l'image visible, rogne le bas */
        display: block;
    }
    .contenerNewsletter {
        position: static;
        background-color: #02246c;
        margin: 0 auto; 
        width: 100%;
        margin-top: -2%;
    }
    .contenerBoutique {
        
        position: static;
        background-color: #f1edb1;
        margin: 0 auto; 
        width: 100%;
        margin-top: -2%;
        
    }

}
/* #endregion */